ul {
    list-style: none;
}
a{
    text-decoration: none;
}

*{
    margin: 0;
    padding: 0;
}

/* хедер */
.container {
    background: #012D63;
   
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
}
.language-button {
    display: flex;
    justify-content: end;
   
    margin-left: 73px;
}

.nav-link {
font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 28px;

margin-left: 29px;

color: #C7C7C7;

}
.header nav {
    
    display: flex;
    justify-content: center;
    align-items: center;
}  
 .container.header {
    display: flex;
    justify-content: center;
    align-items: center;

     padding-top: 30px;
    padding-bottom: 33px; 
} 
.logo {
    margin-right: 50px;
}

.nav-link:hover {
    color: #FFFFFF;
}

/* головний контент */
.section {
    
    background-image: url(./images/Group\ 37\ \(1\)\ 1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 858px;
    /* height: 855px; 
    width: 1500px; */
}

.main-container {
    margin-left: 156px;
}

.second-logo {
    width: 160px;
height: 120px;
left: 171px;
margin-top: 94px;
}

.main-title {
    font-family: 'PT Serif';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 64px;

color: #FFFFFF;
margin-left: 39px;
}

.title {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 144px;
    line-height: 192px;
    
    color: #FFFFFF;

}

.second-title {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 96px;



    color: #FFFFFF;

}

.text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    color: #FFFFFF;
    width: 508px;
}

.button {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;

color: #FFFFFF;
background: #8E32C6;
border-radius: 10px;

padding-top: 20px;
padding-bottom: 20px;
padding-left: 60px;
padding-right: 60px;
margin-top: 40px;
}


.section-two {
    background-image: url(./images/Group\ 8\ 1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 606px;
    padding-top: 105px;
    padding-bottom: 105px;
}

 


.main-ul {
    display: flex;
    justify-content: space-between;
    
}

.advantage-text {
    font-family: 'Playfair Display';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 48px;
text-align: center;

color: #FFFFFF;
}

.advantage {
  width: 1110px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
    
}

.line {
    border-right:1px solid #ffffff
}

.main-div {
    border: 5px solid #8e32c6;
    padding: 25px 50px 25px 50px;
  }


.section-three {
    background-image: url(./images/Group\ 6\ 1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 520px;
    border: 2px solid #FFFFFF;
}

.review-ul {
    display: flex;
}

.review {
    color: #FFF;
font-size: 24px;
font-family: 'Roboto';

/* width: 255px; */
   
    /* height: 292px;
    margin-bottom: 115px; */
}

.flower {
    margin-right: 18px;
 position:absolute;
 
 margin-top: 73px;
}

.container-reviews{
    width: 1110px;
    
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  
  
    justify-content: space-around;
    padding-top: 24px;
  }

.date {
    color: #D8D8D8;
font-size: 14px;
font-family: 'Roboto';
/* padding-left: 13px; */
padding-bottom: 47px;
padding-top: 8px;
}

.name-review {
    display: flex;
    
}

.name {
    color: #FFF;
font-size: 14px;
font-family: 'Roboto';
padding-left: 5px;
}


.year {
    color: #D8D8D8;
font-size: 12px;
font-family: Roboto;
}

.review-1 {
    width: 255px;
    height: 292px;
    margin-right: 46px;
    padding: 49px 18px 8px 9px;

    border-radius: 15px;
    background: linear-gradient(136.55deg, #00E5E6 7.29%, #00A8F7 26.04%, #9A76F9 62.5%, #CC5EC2 100%);
    box-shadow: 0px 14px 0px -5px #7B54B3, 0px 30px 0px -13px #533978;
}

.review-2 {
    width: 255px;
    height: 292px;
    margin-left: 46px;
    margin-right: 46px;
    padding: 49px 18px 8px 9px;

    background: linear-gradient(136.55deg, #FF68B4 0%, #FF45E1 26.04%, #CE3AFF 62.84%, #8961FF 100%);
    box-shadow: 0px 14px 0px -5px #9159B1, 0px 30px 0px -13px #61337C;
    border-radius: 15px;
}

.review-3 {
    width: 255px;
    height: 292px;
    margin-left: 46px;
    padding: 49px 9px 8px 18px;

    background: linear-gradient(142.67deg, #FFE128 0%, #FF9B5C 30.21%, #FF8381 63.29%, #FF5489 100%);
    box-shadow: 0px 14px 0px -5px #B95A4C, 0px 30px 0px -13px #732F26;
    border-radius: 15px;
}

.reviews-text {
    font-family: 'Playfair Display';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 64px;

text-align: center;
color: #FFFFFF;
}

.order {
    background-image: url(./images/Group\ 2\ 1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 509px;
}

.order-text {
    display: flex;
    justify-content: center;
    font-family: 'Playfair Display';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 64px;
color: #FFFFFF;


}

.order-ul {
    text-align: center;
}

.input-email {
    background: #FFFFFF;
  border-radius: 50px;
  width: 690px;
  height: 60px;
  margin-top: 33px;
}

.input{
    background: #FFFFFF;
    border-radius: 50px;
    width: 580px;
    height: 50px;
  }

  input{
    padding-left: 24px;
    margin-bottom: 19px;
    color: #959595;
    font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 33px;
  
  border-radius: 0px;
  }

  .button-order {
    color: #FFF;
font-size: 24px;
font-family: 'Roboto';
border-radius: 16px;
background: #8E32C6;
width: 248px;
height: 68px;
border: none;
  }

/* футер */

footer {
    background: #021635;
    height: 292px;
}

.footer {
    width: 1110px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
    padding-top: 45px;
}

.footer-ul {
    display: flex;
    border-bottom: 1px solid #9B9B9B;
}

.email-li {
    text-align: right;
    margin-bottom: 20px;
    margin-left: auto;
    /* margin-right: 150px; */
    text-decoration-line: underline;
    text-decoration-color: #FFF;
}

.question {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
/* margin-left: 150px; */

color: #FFFFFF;
padding-bottom: 10px;
}

.email {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    padding-bottom: 10px;

    color: #FFFFFF;

}

.info {
    color: #FFF;
font-size: 18px;
font-family: 'Roboto';
padding-bottom: 7px;
}
.info:not(:last-child) {
    margin-top: 24px;
}

.footer-logo {
    color: #FFF;
    font-size: 24px;
    font-family: PT Serif;

    text-align: right;
    
}
.footer-logo::before {
    content: '';
    background-image: url(./images/ed69f7fa91929ff49ecafac2bfd72360\ 2.png);
    height: 81px;
    width: 108px;
}
/* .question:first-child,
.email:first-child {
    padding-top: 45px;
} */